.header{
    display:grid;
    grid-template-columns: 40% 20% 40%;
    padding:0 20px;
    border:0.1vw solid black;
    align-items: center;
    // max-height:70px;
    .burger{
        display:flex;
        align-items: center;
        border:0.1vw solid black;
    }
    
    .logo{
        display:flex;
        align-items: center;
        height:100px;
        cursor:pointer;
        border:0.1vw solid black;

    }
    .socials{
        display:flex;
        display:flex;
        flex-flow:row nowrap;
        justify-content: flex-end;
        border:0.1vw solid black;

        .insta,.face{
            cursor:pointer;
        }
        .insta{
            padding-right:15px;
        }
    }
}
@media only screen and (max-width: 600px) {

    .header{
        max-height:50px;

        .burger{
            width:20%;
    
        }
        
        .logo{
            margin-top:-5px;
            width:60%;
    
        }
        .socials{
            margin-top:5px;
            width:20%;
            
    
            .insta{
                // padding-right:5px;
            }
        }
    }
}

@media only screen and (max-width: 1024px) and (min-width:600px){

    .header{
        // max-height:80px;

        .burger{
            width:10%;
    
        }
        
        .logo{
            margin-top:-5px;
            width:80%;
    
        }
        .socials{
            margin-top:5px;
            width:10%;
            
    
            .insta{
                padding-right:20px;
            }
        }
    }
}