.header{
    display:flex;
    flex-flow:row nowrap;
    padding:0 20px;
    align-items: center;
    
    .burger{
        display:flex;
        align-items: center;
        cursor:pointer;
        width:42.5%;

    }
    
    .logo{
        width:15%;
        
        cursor:pointer;

    }
    .socials{
        width:42.5%;

        display:flex;
        flex-flow:row nowrap;
        justify-content: flex-end;

        .insta,.face{
            cursor:pointer;
        }
        .insta{
            padding-right:15px;
        }
    }
}
@media only screen and (max-width: 600px) {

    .header{
        padding:0 0px;


        .burger{
            width:25%;
    
        }
        
        .logo{
            width:50%;
    
        }
        .socials{
            margin-top:5px;
            width:25%;
    
            .insta{
                padding-right:5px;
            }
        }
    }
}

@media only screen and (max-width: 1024px) and (min-width:600px){

    .header{
        // max-height:80px;

        .burger{
            width:25%;
        }
        
        .logo{
            width:50%;
    
        }
        .socials{
            width:25%;
            
    
            .insta{
                padding-right:20px;
            }
        }
    }
}